# Packages
*.gz
*.zip
*.tar
*.tgz

# Private
.env

# Logs
*.log
*.sqlite

# Cruft
.DS_Store
.cover*
.monitor
.nodemonignore
azure.err
Thumbs.db
temp
tmp
*_tmp*

# Sublime
*.sublime-*

# Xcode
xcuserdata/
project.xcworkspace/
